
/* write css here for all devices */




.nav__item a:hover {
    color: rgb(21, 136, 230);

}
.nav__item .text {
    color: rgb(109, 130, 130)
}

/* body{
    background-color: aqua;
    background-image: linear-gradient(to right, #c7cccd, #cacfd0, #ccd2d4, #cfd6d7, #d2d9db, #d7dddf, #dce1e4, #e1e5e8, #e9ebee, #f1f2f4, #f8f8f9, #ffffff);
} */
.header {
    line-height: 50px;

}
.my_account{
   margin-left: 50px;
   background-color: blue;
}

.logo{
    width: 250px;
}

/* this is for large screen */
@media (min-width: 768px) {

    .nav__item{
        margin-top: 14px;
    }

    .nav__item a {
        font-family: Lato,sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        text-decoration: none;
        transition: .3s;
        padding: 20px;
    }

.logo{
    margin-left: 40px;
}
.nav_menu{
    margin-left: 150px;
}

.my_account{
    color: wheat;
    border-radius: 40px;
}

 }


/* this is for small screen like mobile */
@media (max-width: 768px) {

    .my_account{
        display: none;
    }

    .header {
        height: 70px;
    }

    .logo{
        margin-top: 8px;
    }

    .nav__item a {
        font-family: Lato,sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        text-decoration: none;
        transition: .3s;
        padding: 20px;
    }
    .mk{
        background-color:rgb(76, 57, 128);
      border-radius: 10px;
    }

}