
.footer{
    color: black;
    background-image: url('images/footer-bg.png');
    height: auto;

}

.logo{
    width: 300px;
}

.social{
    width: 45px;
}
.submitButton{
    background-color: rgb(110, 90, 230) ;

}
.submitButton:hover{
    background-color: rgb(113, 113, 214);
}